<mat-toolbar>
    <ng-container>
        <img src="../../assets/logo.png" alt="">
        <ul class="nav-items"> 
            <li> <mat-icon>home</mat-icon>Home</li>
            <li><mat-icon>group</mat-icon> Trustees</li>
            <li class="maincolor"><mat-icon>person</mat-icon> Proffessionals</li>
            <li><mat-icon>more_horiz</mat-icon> More</li>
        </ul>
        <span class="example-spacer"></span>
       
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-raised-button class="mainbtn">Invite</button>
    </ng-container>
</mat-toolbar>