/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar {
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    background: #ffffff;
    color: #080808;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar-single-row{padding: 0 50px!important;}
  .nav-items {
    display: flex;
    font-size: 14px;
    width: 100%;
    padding-inline-start: 0;
}

.nav-items mat-icon {
    vertical-align: middle;
    font-size: 22px;
}
.nav-items li {
    width: 15%;
    list-style-type: none;
    text-align: center;
    font-weight: 400;
}
.maincolor{
  color: #c62128
}